/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}

.content-table{
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  background-color: rgb(234, 205, 166);
}

.heading{
  background: white;
  background-color: aqua;
  text-align: left;
  font-weight: bold;
}

.contents{
  padding: 12px 15px;
}

/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
nav{
   text-align: right;
 }

 .btn{
  color: black;
  background-color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
 }

 .btn:hover{
  background-color: lightgreen;
 }
 .purpose{
  background-image: url("foodloss.png");
  background-size: cover;
  position: relative;
  text-align: center;
  background-position: right;   
  padding: 200px 0;
 }
 .box1{
  position: absolute;
  left: 1000px;
  top: 80px;
 }

 .content{
  text-align: center;
 }
 .credits{
  position: relative;
  left: 500px;
  bottom: 110px;
 }

 .social-media{
  position: relative;
  left: 1200px;
  bottom: 200px;
 }
 .topnav{
   overflow: hidden;
   background-color: #3c3a3a;
 }

 .join-us{
  text-align: center;
 } 

 /* .personas{
  text-align: center;
 } */
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }
