body {
    height: 100%;  
    flex-direction: column;
    font-family: sans-serif;
    background-color: #ffffff;
}

/* Container styles for main layout */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;  /*Center align*/
}

/*————————————————————————————————————————————Header——————————————————————————————————————————*/
/* header styles */
header {
    background-color: #fff;
    padding: 15px 0;  /* top and bottom */
    border-bottom: 1px solid #ddd;
    display: flex;
}

header .Weblogo img {
    height: 60px;
}

/* Navigation menu styles */
header nav ul {
    list-style: none; /* Removed default list style*/
    display: flex;
}
/* Navigation menu items */
header nav ul li {
    margin-right: 35px;
    position: relative;
}
/* Navigation links */
header nav ul li a {
    text-decoration: none; /* Removed default underline*/
    color: #333;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
/* Nav links hover effect */
.nav-links li a:hover {
background-color: #edecec;
}
/* header with arrow icon  */
header nav ul li .arrow {
    margin-left: 5px;
    font-size: 0.8em;
}
/* dropdown menu styles  */
header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 5; 
    /* make sure dropdown menu is above others*/
}
/* dropdown links */
header nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;  /*12top,bottom - 16left,right*/
    text-decoration: none; /* removed underline*/
    display: block;
}
/* dropdown link hover effect*/
header nav ul li .dropdown-content a:hover {
    background-color: #ddd;
}
/* Show dropdown on hover */
header nav ul li:hover .dropdown-content {
    display: block;
}

/* Hero section title styling */
.hero h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*————————————————————————————————————————————Main——————————————————————————————————————————*/
/* image styles */
.image_container {
    display: flex;
    align-items: center;
    /* margin-bottom: 230px; */
    margin-top: 40px;
}
    
.image_container img {
    margin-right: 100px;
    margin-left: 80px;
    width: 350px; 
}
    
/*————————————————————————————————————————————Footer——————————————————————————————————————————*/
/* Footer container styles */
.footer-container {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    border-top: 1px solid #d5c9c9;
    
}