body {
    font-family: sans-serif;
    background-color: #ffffff;
}

/* Container styles for main layout */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;  /*Center align*/
}

/* header with arrow icon  */
header nav ul li .arrow {
    margin-left: 5px;
    font-size: 0.8em;
}

/* dropdown menu styles  */
header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 5; 
    /* make sure dropdown menu is above others*/
}

/* header styles */
header {
    background-color: #fff;
    padding: 15px 0;  /* top and bottom */
    border-bottom: 1px solid #ddd;
    display: flex;
}

/* Navigation menu styles */
header nav ul {
    list-style: none; /* Removed default list style*/
    display: flex;
}

/* Navigation menu items */
header nav ul li {
    margin-right: 35px;
    position: relative;
}

/* Navigation links */
header nav ul li a {
    text-decoration: none; /* Removed default underline*/
    color: #333;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* .nav-right {
    margin-left: auto;
} */

/* Nav links hover effect */
.nav-links li a:hover {
    /* text-decoration: underline; */
    background-color: #edecec;
}

/* dropdown links */
header nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;  /*12top,bottom - 16left,right*/
    text-decoration: none; /* removed underline*/
    display: block;
}

/* dropdown link hover effect*/
header nav ul li .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show dropdown on hover */
header nav ul li:hover .dropdown-content {
    display: block;
}

 .btn:hover{
    background-color: lightgreen;
   }

.purpose{
    background-image: url("foodloss.avif");
    background-size: cover;
    position: relative;
    text-align: center;
    background-position: center;   
    padding: 20px 0;
    background-attachment: fixed;
}
  
  
   .credits{
    position: relative;
    left: 500px;
    top: 50px;
   }*/

   .footer-content{
    top: 140px;
    position: relative;
   } 